.title {
  color: #DF3A01;
  text-decoration: none;
  font-size:8vh;
  font-weight: bold;
  text-align: center;
}

.header {
  display: flex;
  background: white;
  height:8%
}

@media screen and (max-width: 992px) {
  .title {
    display: none;
  }

  .header {
    display:none;
  }
}
